@mixin post {
    border: 1px solid darken(#fafafa, 2%);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(black, .1);
    padding: 5px;
    margin-bottom: 10px;
}

@mixin base-button {
    width: 60%;
    margin: 10px auto;
    background: $base-accent;
    padding: 8px;
    display: block;
    max-width: 250px;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
    box-shadow: 0px -2px 0px rgba(black, .2) inset;

    &:hover {
        background-color: darken($base-accent, 5%);
    }
    
    &:active {
        box-shadow: 0px 0px 8px rgba(black, .4) inset;
    }
}

div#app {
    @include fullpage;
    background-color: #e3e4e8;
    
    .wrap {
        width: 90%;
        max-width: 800px;
        margin: 90px auto;
    }
    
    button {
        @include base-button;
    }
    
    a {
        color: $base-accent;
        text-decoration: none;
        transition: all 200ms ease-in;
        border-bottom: 1px solid #fff;
        font-weight: 700;
        
        &:hover {
            color: darken($base-accent, 10%);
            border-bottom: 1px solid $base-accent;
        }
    }
    
    @import '_header';
    
    .user-data {
        .default-avatar {
            width: 45px;
            border-radius: 50%;
            height: 45px;
            background-color: $base-accent;
            text-align: center;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 5px rgba(black, .1) inset;
            
            .ion {
                font-size: 1.8em;
                vertical-align: bottom;
                color: lighten(#fafafa, 5%);
                padding-top: 8px;
            }
        }
        
        .username {
            font-weight: 700;
            display: inline-block;
        }
        
        .time {
            font-size: 0.9em;
            display: block;
            color: #BBB;
        }
    }
    
    @import '_timeline';
    
    div.error, div.success {
        background: lighten(#FF0000, 10%);
        color: #FFF;
        display: block;
        width: 90%;
        margin: 10px auto;
        text-align: center;
        position: relative;
        font-size: 0.9em;
        padding: 8px;
        border-radius: 5px;

        &:after {
        	top: 100%;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        	border-color: transparent;
        	border-top-color: lighten(#FF0000, 10%);
        	border-width: 5px;
        	margin-left: -5px;
        }
    }
    
    div.success {
        background: #4bb05d !important;
        
        &:after {
            border-top-color: #4bb05d !important;
        }
    }
    
    @import '_theater';
    @import '_settings';
}