@mixin post {
    border: 1px solid darken(#fafafa, 2%);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(black, .1);
    padding: 5px;
    margin-bottom: 10px;
}

@mixin base-button {
    width: 60%;
    margin: 10px auto;
    background: $base-blue;
    padding: 8px;
    display: block;
    max-width: 250px;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;

    &:hover {
        background-color: darken($base-blue, 5%);
    }
    
    &:active {
        box-shadow: 0px 0px 6px rgba(black, .3) inset;
    }
}

div#app {
    @include fullpage;
    background-color: darken(#fafafa, 2%);
    
    .wrap {
        width: 90%;
        max-width: 800px;
        margin: 90px auto;
    }
    
    button {
        @include base-button;
    }
    
    a {
        color: $base-blue;
        text-decoration: none;
        transition: all 200ms ease-in;
        border-bottom: 1px solid #fff;
        font-weight: 700;
        
        &:hover {
            color: darken($base-blue, 10%);
            border-bottom: 1px solid $base-blue;
        }
    }
    
    header {
        .ng-scope, &.ng-scope {
            height: auto;
            width: auto;
            min-height: 0;
        }
        
        #navbar {
            width: 100%;
            height: auto !important;
            min-height: 0;
            z-index: 9999;
            position: fixed;
            background: rgba(white, .8);
            border-bottom: 1px solid darken(white, 15%);
            box-shadow: 0px 2px 2px rgba(black, .05);
            padding: 5px 50px;
        
            div.logo {
                display: inline-block;
                cursor: pointer;
                font-size: 2.5em;
                font-family: 'Damion', cursive;
                color: lighten($base-blue, 10%);
                text-shadow: none;
                font-weight: bold;
                vertical-align: middle;
                transition: color 200ms ease-in;
            
                &:hover {
                    color: $base-blue;
                }
            }
        
            .search-box {
                background: darken(#fafafa, 5%);
            
                display: inline-block;
                vertical-align: middle;
                width: 30%;
                margin-left: 25px;
                border: 1px solid rgba(black, .2);
                border-radius: 25px;
                padding: 8px 20px;
                box-shadow: 0px 0px 5px rgba(black, .1) inset;
                transition: all 200ms ease-in-out;
            
                input {
                    font-size: 0.9em;
                    background: transparent;
                    color: darken(white, 80%);
                    vertical-align: middle;
                    padding: 0;
                    margin: 0;
                    border: none;
                    width: calc(100% - 50px);
                    display: inline-block;
                }
            
                .search-button {
                    padding: 0;
                    margin: 0;
                    border: none;
                    background: transparent;
                    font-size: 1.6em;
                    float: right;
                    width: 30px;
                    height: 20px !important;
                    vertical-align: top;
                
                    span {
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                    }
                
                    &:hover {
                        color: $base-blue;
                    }
                }
            
                &:hover, &:focus {
                    background-color: #fafafa;
                    color: #000;
                }
            }
        
            ul {
                display: inline-block;
                list-style: none;
                float: right;
                padding: 0;
                margin: 0;
                text-align: right;
                height: auto;
                padding-top: 5px;
            
                li {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 1.2em;
                    height: auto;
                    margin-left: 20px;
                    padding: 5px 10px;
                    cursor: pointer;
                    color: darken(white, 50%);
                
                    &:hover {
                        background: #EEE;
                        border-radius: 6px;
                        color: $base-blue;
                    }
                
                    * {
                        vertical-align: middle;
                    }
                
                    .icon {
                        font-size: 1.6em;
                    }
                }
            }
        }
        
        #settings-menu {
            position: fixed;
            z-index: 9999;
            margin: 0;
            top: 65px;
            right: 10px;
            background: rgba(white, .7);
            border: 1px solid rgba(black, .1);
            border-radius: 5px;
            list-style: none;
            padding: 0;
            width: calc(100% - 20px);
            max-width: 150px;
            box-shadow: 0px 0px 5px rgba(black, .1);
            
            li a {
                display: block;
                padding: 10px;
                text-align: center;
                border: none;
                color: lighten(black, 50%);
                
                border-bottom: 1px solid #EEE;
                
                &:hover {
                    background: #EEE;
                    color: black;
                }
            }
            
            li:last-child a {
                border-bottom: none;
            }
            
            &:after {
            	bottom: 100%;
            	left: 50%;
            	border: solid transparent;
            	content: " ";
            	height: 0;
            	width: 0;
            	position: fixed;
            	pointer-events: none;
            	border-color: transparent;
            	border-bottom-color: white;
            	border-width: 5px;
            	margin-left: -5px;
            }
        }
    }
    
    #timeline {
        width: 90%;
        max-width: 600px;
        margin: 70px auto;
        
        .post-box {
            @include post;
            
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: block;
                text-align: center;
                
                li {
                    display: inline-block;
                    width: 24%;
                    text-align: center;
                    
                    span {
                        font-size: 2.0em;
                        padding: 7px 0;
                        width: 100%;
                        color: lighten(black, 50%);
                        border-left: 1px solid darken(#fafafa, 6%);
                        cursor: pointer;
                        
                        &.active {
                            color: $base-blue;
                        }
                    }
                    
                    &:first-child span { border-left: none }
                }
            }
            
            textarea, input {
                width: 100%;
                border: none;
                border-top: 1px solid darken(#fafafa, 8%);
                margin-top: 6px;
                padding: 10px 10px 6px 10px;
                line-height: 1.5em;
                color: #555;
            }
            
            button {
                @include base-button;
            }
            
            .upload-zone {
                text-align: center;
                border-top: 1px solid darken(#fafafa, 8%);
                margin-top: 6px;
                
                button {
                    width: auto;
                    padding: 5px 15px;
                    display: inline-block;
                    font-size: 0.9em;
                    background: darken(#fafafa, 20%);
                    color: darken(#fafafa, 70%);
                    font-weight: bold;
                    
                    &:hover {
                        background-color: darken(#fafafa, 10%);
                    }
                    
                    &:active {
                        box-shadow: 0px 0px 6px rgba(black, .3) inset;
                    }
                }
                
                span {
                    padding-left: 6px;
                    font-size: 0.9em;
                    max-width: 350px;
                    word-wrap: break-word;
                }
            }
        }
        
        .loading {
            @include post;
            padding: 10px;
            text-align: center;
            font-size: 1.1em;
            font-weight: 400;
        }
        
        .post {
            @include post;
            padding: 10px;
            font-weight: 400;
            font-size: 1.0em;
            line-height: 1.5em;
            
            .pull-right {
                float: right;
            }
            
            .inline-icon {
                cursor: pointer;
                font-size: 1.2em;
                color: darken(#fafafa, 20%);
                padding: 4px 8px;
                
                &:hover {
                    color: darken(#fafafa, 55%);
                }
            }
            
            .user-data {
                .default-avatar {
                    width: 45px;
                    border-radius: 50%;
                    height: 45px;
                    background-color: $base-blue;
                    text-align: center;
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    box-shadow: 0px 0px 5px rgba(black, .1) inset;
                    
                    .ion {
                        font-size: 1.8em;
                        vertical-align: bottom;
                        color: lighten(#fafafa, 5%);
                        padding-top: 8px;
                    }
                }
                
                .username {
                    font-weight: 400;
                    display: inline-block;
                    font-weight: 700;
                }
                
                .time {
                    font-size: 0.9em;
                    display: block;
                    color: #BBB;
                }
            }
            
            p.text {
                padding: 0;
                margin: 0;
                padding-bottom: 10px;
                font-weight: 400;
                clear: both;
            }
            
            .post-video {
                height: 281px;
                width: 100%;
                margin: 5px auto;
                margin-bottom: 15px;
                max-width: 500px;

                div {
                    height: 281px !important;

                    iframe {
                        height: 281px !important;
                    }
                }
            }
            
            .post-link {
                padding: 8px;
                border: 1px solid #DDD;
                border-radius: 5px;
                margin-bottom: 15px;
                
                a {
                    font-size: 1.2em;
                    font-weight: 400;
                }
                
                p {
                    font-size: 0.8em;
                    color: #777;
                    padding: 0;
                    margin: 0;
                }
            }
            
            .post-photo {
                text-align: center;
                margin-top: 7px;
                margin-bottom: 10px;
                background-size: cover;
                border-radius: 5px;
                
                .photo {
                    padding: 15px 10px;
                    border: 1px solid rgba(black, .2);
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px rgba(black, .2) inset;
                    background: rgba(white, .4);
                    
                    img {
                        padding: 0;
                        margin: 0;
                        border: 5px solid rgba(black, .4);
                        border-radius: 3px;
                        transition: all 200ms ease-in-out;
                        cursor: pointer;
                        
                        &:hover {
                            border-color: lighten($base-blue, 15%);
                        }
                    }
                    
                    p {
                        font-style: italic;
                        padding: 15px 10px;
                        padding-bottom: 0;
                        margin: 0;
                        color: #444;
                    }
                }
            }
            
            .actions {
                padding: 0;
                margin: 0;
                font-size: 1.1em;
                
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    
                    li {
                        display: inline-block;
                        text-align: center;
                        font-size: 0.8em;
                        padding: 2px 15px;
                        color: lighten(black, 50%);
                        border-radius: 25px;
                        border: 3px solid darken(#fafafa, 5%);
                        margin-right: 10px;
                        transition: all 200ms ease-in-out;
                        cursor: pointer;
                        
                        span.count {
                            font-size: 1.1em;
                            vertical-align: middle;
                            color: darken(#fafafa, 45%);
                            font-weight: bold;
                        }
                        
                        &.liked {
                            border-color: #17b57c !important;
                            color: #17b57c !important;
                            
                            span.count { color: #17b57c }
                        }
                        
                        span.arrow {
                            font-size: 0.8em !important;
                        }
                        
                        &:hover {
                            color: $base-blue;
                            border-color: $base-blue;
                            
                            span.count {
                                color: #333;
                            }
                        }
                        
                        span.ion {
                            font-size: 1.6em;
                            vertical-align: middle;
                            padding-right: 5px;
                        }
                        
                        span.ion.icon-only {
                            padding-right: 0;
                        }
                        
                        &.pull-right {
                            float: right;
                            .ion {
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        
        .no-posts-message {
            @include post;
            padding: 30px 50px;
            
            .emoticon {
                font-size: 5.0em;
                color: $base-blue;
                text-shadow: 0px -1px 0px white;
                float: right;
                vertical-align: top;
                line-height: 0.6em;
            }
            
            .title {
                font-weight: 400;
                color: darken(#fafafa, 70%);
                font-size: 1.5em;
                display: block;
            }
            
            .message {
                font-weight: 300;
                color: darken(#fafafa, 50%);
                font-size: 1.2em;
                display: block;
            }
        }
        
        ul.sun-dropdown {
            float: right;
            z-index: 9998;
            padding: 0;
            border: 1px solid #EEE;
            border-radius: 5px;
            font-size: 1.0em;
            margin-left: -50px;
            background: rgba(white, .7);
            
            li {
                padding: 3px 6px;
                display: block !important;
                border: none;
                border-bottom: 1px solid #EEE;
            }
        }
    }
    
    div.error, div.success {
        background: lighten(#FF0000, 10%);
        color: #FFF;
        display: block;
        width: 90%;
        margin: 10px auto;
        text-align: center;
        position: relative;
        font-size: 0.9em;
        padding: 8px;
        border-radius: 5px;

        &:after {
        	top: 100%;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        	border-color: transparent;
        	border-top-color: lighten(#FF0000, 10%);
        	border-width: 5px;
        	margin-left: -5px;
        }
    }
    
    div.success {
        background: #4bb05d !important;
        
        &:after {
            border-top-color: #4bb05d !important;
        }
    }
    
    #photo-theater {
        width: 100%;
        height: 100%;
        background-color: rgba(lighten(black, 10%), .9);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        text-align: center;
        
        .photo-holder {
            @include fullpage;
            display: table;
            
            div {
                display: table-cell;
                height: 100% !important;
                min-height: 100% !important;
                width: 100%;
                text-align: center;
    
                img {
                    vertical-align: middle;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
        
        button {
            background: black;
            border-radius: 5px;
            height: 80px;
            width: 80px;
            font-size: 4.0em;
            color: white;
            border: none;
            top: 20px;
            right: 20px;
            position: fixed;
            
            &:hover {
                background: lighten(black, 20%);
            }
        }
    }
    
    .settings {
        aside {
            width: 29%;
            float: left;
            
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                padding-right: 30px;
                
                li {
                    display: block;
                    padding: 10px 15px;
                    font-size: 1.1em;
                    cursor: pointer;
                    position: relative;

                    &.active {
                        background: white;
                        border-radius: 6px;
                        font-weight: bold;
                        box-shadow: 0px 0px 5px rgba(black, .1);
                        color: $base-blue;
                        
                        &:after {
                        	bottom: 0%;
                        	left: 100%;
                        	border: solid transparent;
                        	content: " ";
                        	height: 0;
                        	width: 0;
                        	position: absolute;
                        	pointer-events: none;
                        	border-color: transparent;
                        	border-left-color: white;
                        	border-width: 20px;
                        	margin-left: -3px;
                        }
                    }
                }
            }
        }
        
        section {
            background-color: white;
            padding: 20px;
            padding-top: 0;
            border-radius: 5px;
            box-shadow: 0px 2px 3px rgba(black, .1);
            width: 70%;
            float: right;

            h1 {
                font-weight: 300;
                font-size: 2.5em;
            }
            
            article {
                .field {
                    padding: 15px;
                    border-bottom: 1px solid #EEE;
                    
                    .expanded-label {
                        width: 45%;
                        display: inline-block;
                    }
                    
                    .ui.dropdown {
                        width: 50%;
                        text-align: center;
                    }
                    
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}