footer {
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
    margin-bottom: 60px;
    
    ul.credits {
        list-style: none;
        padding: 0;
        margin: 0;
        width: auto;
        float: left;
        @media all and (max-width: $mobile-bp) {
            float: none;
            margin: 0 auto;
            padding-bottom: 15px;
            text-align: center;
        }
        
        li {
            display: inline-block;
            padding-right: 15px;
            margin-left: 15px;
            border-right: 1px solid rgba(black, .1);
            
            &:first-child {
                margin-left: 0;
            }
            
            &:last-child {
                border-right: none;
            }
            
            a {
                color: darken($base-accent, 10%);
                font-weight: normal;
            }
        }
    }

    select.language-selector {
        background: rgba(white, .8);
        border: 1px solid rgba(black, .3);
        border-radius: 4px;
        padding: 4px 15px;
        float: right;
        @media all and (max-width: $mobile-bp) {
            float: none;
            display: block;
            margin: 0px auto;
        }
    }
}