header {
    .ng-scope, &.ng-scope {
        height: auto;
        width: auto;
        min-height: 0;
    }
    
    #navbar {
        width: 100%;
        height: auto !important;
        min-height: 0;
        z-index: 9999;
        position: fixed;
        background: rgba(white, .8);
        border-bottom: 1px solid darken(white, 15%);
        box-shadow: 0px 2px 2px rgba(black, .05);
        padding: 5px 50px;
        @media all and (max-width: $mobile-bp) {
            text-align: center;
            padding: 5px 15px;
        }
    
        div.logo {
            display: inline-block;
            cursor: pointer;
            font-size: 2.5em;
            font-family: 'Rochester', cursive;
            color: $base-accent;
            // Hack to display the font bold in webkite/blink-based browsers
            // looks fine on firefox
            text-shadow: 1px 0px 0px $base-accent;
            vertical-align: middle;
            transition: color 200ms ease-in;
        
            &:hover {
                color: darken($base-accent, 10%);
            }
        }
    
        .search-box {
            background: darken(#fafafa, 5%);
            display: inline-block;
            vertical-align: middle;
            width: 30%;
            margin-left: 25px;
            border: 1px solid rgba(black, .2);
            border-radius: 25px;
            padding: 8px 20px;
            box-shadow: 0px 0px 5px rgba(black, .1) inset;
            transition: all 200ms ease-in-out;
            @media all and (max-width: $mobile-bp) {
                width: 50%;
            }
        
            input {
                font-size: 0.9em;
                background: transparent;
                color: darken(white, 80%);
                vertical-align: middle;
                padding: 0;
                margin: 0;
                border: none;
                width: 100%;
                display: inline-block;
            }
        
            &:hover, &:focus {
                background-color: #fafafa;
                color: #000;
            }
        }
    
        ul {
            display: inline-block;
            list-style: none;
            float: right;
            padding: 0;
            margin: 0;
            text-align: right;
            height: auto;
            padding-top: 5px;
            @media all and (max-width: $mobile-bp) {
                display: block;
                width: 100%;
            }
        
            li {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                font-size: 1.2em;
                height: auto;
                margin-left: 20px;
                padding: 5px 10px;
                cursor: pointer;
                color: darken(white, 50%);
                @media all and (max-width: $mobile-bp) {
                    margin-left: 0;
                    width: 24%;
                    text-align: center;
                }
                
                span.notifications-count {
                    display: none;
                    padding: 1px 4px;
                    font-size: 0.6em;
                    border-radius: 4px;
                    position: absolute;
                    z-index: 9999;
                    right: 23px;
                    top: 15px;
                    
                    &.has-unread {
                        display: inline;
                        background-color: rgba($base-accent, .7);
                        color: #FFF;
                        font-weight: bold;
                    }
                }
            
                &:hover {
                    background: #EEE;
                    border-radius: 6px;
                    color: $base-accent;
                }
            
                * {
                    vertical-align: middle;
                }
            
                .icon {
                    font-size: 1.6em;
                }
            }
        }
        
        .header-overlay {
            height: calc(100% - 55px);
            width: 100%;
            position: fixed;
            z-index: 100 !important;
            left: 0;
            top: 55px;
            background-color: rgba(black, .6);
            padding: 0;
            margin: 0;
            text-align: left;
            @media all and (max-width: $mobile-bp) {
                height: calc(100% - 98px);
                top: 98px;
            }
            
            p:not(.message) {
                text-align: center;
                color: white;
                padding: 20px;
                text-shadow: 0px 1px 0px black;
            }
    
            ul {
                padding: 0;
                margin: 0;
                display: block;
                list-style: none;
                background-color: rgba(white, .9);
                float: left;
                height: auto;
                max-height: 90%;
                margin-top: 2%;
                margin-left: 15%;
                width: 40%;
                min-width: 425px;
                overflow-y: auto;
                text-align: left;
                border-radius: 6px;
                border: 1px solid rgba(black, .2);
                box-shadow: 0px 4px 5px rgba(black, .2);
                @media all and (max-width: $mobile-bp) {
                    width: 90%;
                    margin-left: 5%;
                    margin-top: 5%;
                    min-width: 0;
                }
        
                li {
                    display: block;
                    cursor: default;
                    margin: 0;
                    padding: 10px;
                    padding-bottom: 0;
                    border-radius: 0px;
                    border-bottom: 1px solid #DDD;
                    box-shadow: 0px 1px 0px white inset;
                    @media all and (max-width: $mobile-bp) {
                        width: 100%;
                    }
                    
                    &:last-child {
                        border-bottom: none;
                    }
                    
                    &:hover {
                        background-color: transparent;
                    }
                    
                    .user-data {
                        padding: 0;
                        margin: 0;
                        margin-bottom: 6px;
                    }
                    
                    .user-name {
                        padding: 0;
                        margin: 0;
                        font-weight: 400 !important;
                        color: #555 !important;
                        vertical-align: top;
                        @media all and (max-width: $mobile-bp) {
                            text-align: left;
                        }
                    }
                    
                    .message {
                        font-size: 0.8em;
                        color: #666 !important;
                        text-align: center;
                        padding: 5px;
                        margin: 5px;
                    }
                    
                    .search-actions {
                        padding: 10px 0;
                        margin: 0;
                        
                        a.btn, .btn {
                            @include base-button;
                            display: inline-block;
                            margin: 0;
                            width: auto;
                            padding: 6px 30px;
                            font-size: 0.7em;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    
    #settings-menu {
        position: fixed;
        z-index: 9999;
        margin: 0;
        top: 65px;
        right: 10px;
        background: rgba(white, .7);
        border: 1px solid rgba(black, .1);
        border-radius: 5px;
        list-style: none;
        padding: 0;
        width: calc(100% - 20px);
        max-width: 150px;
        box-shadow: 0px 0px 5px rgba(black, .1);
        @media all and (max-width: $mobile-bp) {
            top: 105px;
        }
        
        li a {
            display: block;
            padding: 10px;
            text-align: center;
            border: none;
            color: lighten(black, 50%);
            
            border-bottom: 1px solid #EEE;
            
            &:hover {
                background: #EEE;
                color: black;
            }
        }
        
        li:last-child a {
            border-bottom: none;
        }
        
        &:after {
        	bottom: 100%;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: fixed;
        	pointer-events: none;
        	border-color: transparent;
        	border-bottom-color: white;
        	border-width: 5px;
        	margin-left: -5px;
        }
    }
    
    #notifications-menu {
        position: fixed;
        z-index: 9999;
        margin: 0;
        top: 65px;
        right: 10px;
        background: rgba(white, .8);
        border: 1px solid rgba(black, .1);
        border-radius: 5px;
        list-style: none;
        padding: 0;
        width: calc(100% - 20px);
        max-height: calc(95% - 65px) !important;
        overflow-y: auto;
        max-width: 300px;
        box-shadow: 0px 0px 5px rgba(black, .1);
        @media all and (max-width: $mobile-bp) {
            top: 105px;
        }
        
        li {
            display: block;
            padding: 10px;
            border: none;
            color: lighten(black, 50%);
            border-bottom: 1px solid #EEE;
            
            &.active {
                background-color: lighten($base-accent, 40%);
                border-bottom-color: lighten($base-accent, 30%);
            }
            
            .ng-hide {
                display: none !important;
            }
            
            span.time {
                font-size: 0.8em;
                color: lighten(black, 60%);
            }
        }
        
        li:last-child {
            border-bottom: none;
        }
        
        &:after {
        	bottom: 100%;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: fixed;
        	pointer-events: none;
        	border-color: transparent;
        	border-bottom-color: rgba(white, .7);
        	border-width: 5px;
        	margin-left: -5px;
            margin-top: -1px;
        }
    }
}