// Landing scope
div#landing {
    @include fullpage;
    background: black url(../images/landing_bg.jpg) center center no-repeat;
    background-size: cover;

    div#wrap {
        @include fullpage;
        background-color: lighten(rgba(0, 0, 0, 0.7), 30%);
        padding-bottom: 50px;
        
        h1 {
            cursor: pointer;
            font-size: 4.8em;
            font-family: 'Damion', cursive;
            color: white;
            text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.7);
            padding: 15px;
            text-align: center;
            margin-top: 50px;
        }
    
        h2 {
            font-weight: 300;
            font-size: 3.2em;
            color: white;
            text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.7);
            padding: 15px;
            text-align: center;
        }
        
        .btn-signup {
            margin: 0 auto;
            display: block;
            width: 90%;
            max-width: 350px;
            padding: 15px 50px;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            background: rgba(#1b71ad, 1.0);
            color: white;
            font-size: 1.4em;
            border: none;
            border-radius: 5px;
            transition: all 300ms ease-in-out;
            
            &:hover {
                background-color: lighten(#1b71ad, 10%);
            }
            
            &:active {
                background-color: darken(#1b71ad, 10%);
                color: darken(white, 30%);
            }
        }
        
        .btn-login {
            margin: 0 auto;
            display: block;
            width: 90%;
            max-width: 350px;
            padding: 15px 50px;
            text-align: center;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            background: transparent;
            color: white;
            text-shadow: 0px 0px 0px rgba(black, .7);
            font-size: 1.4em;
            background: rgba(white, .2);
            border: none;
            border-radius: 3px;
            transition: all 300ms ease-in-out;
            box-shadow: 0px -1px 0px rgba(black, .6) inset;
            margin-top: 30px;
            
            &:hover {
                background-color: rgba(white, .5);
            }
        }
    }
}