.post {
    @include post;
    padding: 10px;
    font-weight: 400;
    font-size: 1.0em;
    line-height: 1.5em;
    
    .pull-right {
        float: right;
    }
    
    .inline-icon {
        cursor: pointer;
        font-size: 1.2em;
        color: darken(#fafafa, 20%);
        padding: 4px 8px;
        
        &:hover {
            color: darken(#fafafa, 55%);
        }
    }
    
    p.text {
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        font-weight: 400;
        clear: both;
    }
    
    .post-video {
        height: 281px;
        width: 100%;
        margin: 5px auto;
        margin-bottom: 15px;

        div {
            height: 281px !important;

            iframe {
                height: 281px !important;
                width: 100%;
            }
        }
    }
    
    .post-link {
        padding: 8px;
        border: 1px solid #DDD;
        border-radius: 5px;
        margin-bottom: 15px;
        
        a {
            font-size: 1.2em;
            font-weight: 400;
        }
        
        p {
            font-size: 0.8em;
            color: #777;
            padding: 0;
            margin: 0;
        }
    }
    
    .post-photo {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 10px;
        background-size: cover;
        border-radius: 5px;
        
        .photo {
            padding: 15px 10px;
            border: 1px solid rgba(black, .2);
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(black, .2) inset;
            background: rgba(white, .6);
            
            img {
                padding: 0;
                margin: 0;
                border: 5px solid rgba(black, .4);
                border-radius: 3px;
                transition: all 200ms ease-in-out;
                cursor: pointer;
                
                &:hover {
                    border-color: lighten($base-accent, 15%);
                }
            }
            
            p {
                font-style: italic;
                padding: 15px 10px;
                padding-bottom: 0;
                margin: 0;
                color: #222;
            }
        }
    }
    
    .actions {
        padding: 0;
        margin: 0;
        font-size: 1.1em;
        
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            
            li {
                @include rounded-button;
                span.count {
                    font-size: 1.1em;
                    vertical-align: middle;
                    color: darken(#fafafa, 45%);
                    font-weight: bold;
                }
                
                &.liked {
                    border-color: #17b57c !important;
                    color: #17b57c !important;
                    
                    span.count { color: #17b57c }
                }
                
                &:hover span.count {
                    color: $base-accent;
                }
                
                .dropdown-box {
                    right: -40%;
                    top: 140%;
                    
                    li {
                        border: none;
                        font-size: 1.0em;
                        border-radius: 0;
                        padding: 8px;
                    }
            
                    li.selected {
                        background-color: #EEE;
                    }
                }
            }
        }
    }
    
    @import '_comments';
}