.settings {
    aside {
        width: 29%;
        float: left;
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-right: 30px;
            
            li {
                display: block;
                padding: 10px 15px;
                font-size: 1.1em;
                cursor: pointer;
                position: relative;

                &.active {
                    background: white;
                    border-radius: 6px;
                    font-weight: bold;
                    box-shadow: 0px 0px 5px rgba(black, .1);
                    color: $base-accent;
                    
                    &:after {
                    	bottom: 0%;
                    	left: 100%;
                    	border: solid transparent;
                    	content: " ";
                    	height: 0;
                    	width: 0;
                    	position: absolute;
                    	pointer-events: none;
                    	border-color: transparent;
                    	border-left-color: white;
                    	border-width: 20px;
                    	margin-left: -3px;
                    }
                }
            }
        }
    }
    
    section {
        background-color: white;
        padding: 20px;
        padding-top: 0;
        border-radius: 5px;
        box-shadow: 0px 2px 3px rgba(black, .1);
        width: 70%;
        float: right;

        h1 {
            font-weight: 300;
            font-size: 2.5em;
        }
        
        article {
            .field {
                padding: 15px;
                border-bottom: 1px solid #EEE;
                
                label:not(.expanded-label):not(.full-width-label) {
                    width: 30%;
                    display: inline-block;
                    margin-right: 5%;
                    vertical-align: top;
                }
                
                textarea {
                    width: 64%;
                    display: inline-block;
                    line-height: 1.4em;
                    padding: 6px;
                    font-size: 0.9em;
                    border: 3px solid darken(#fafafa, 10%);
                    border-radius: 5px;
                    transition: border-color 200ms ease-in-out;
                    
                    &:hover, &:focus {
                        border-color: $base-accent;
                    }
                }
                
                .expanded-label {
                    width: 45%;
                    display: inline-block;
                }
                
                .ui.dropdown {
                    width: 50%;
                    text-align: center;
                }
                
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}