<header>
    <div id="navbar">
        <div class="logo" ng-click="goHome()">Sunglasses</div>
        <div class="search-box">
            <input type="text" placeholder="{{ 'search' | translate }}" ng-model="query">
        </div>
        <ul class="rightside-menu">
            <li><span class="ion icon ion-home"></span></li>
            <li ng-click="redirect('/u/' + userData.username_lower)"><span class="ion icon ion-person"></span></li>
            <li ng-click="toggleMenu('notifications')"><span class="icon ion ion-ios7-bell"></span> <span class="notifications-count" ng-class="{'has-unread': unreadCount > 0}">{{ unreadCount }}</span> <span class="arrow ion ion-arrow-down-b"></span></li>
            <li ng-click="toggleMenu('settings')"><span class="icon ion ion-ios7-gear"></span> <span class="arrow ion ion-arrow-down-b"></span></li>
        </ul>
        <div class="header-overlay" ng-show="searchActive">
            <ul class="search-results" ng-show="searchResults.length > 0">
                <li ng-repeat="user in searchResults" class="user-data">
                    <div class="avatar" ng-hide="userService.getAvatarThumb(user) == ''">
                        <img ng-src="{{ userService.getAvatarThumb(user) }}" alt="{{ userService.getUsername(user) }}">
                    </div>
                    <div class="default-avatar" ng-hide="userService.getAvatarThumb(user) != ''">
                        <span class="ion ion-android-contact"></span>
                    </div>
                    <h3 class="user-name">{{ userService.getUsername(user) }}</h3>
                    <div class="search-actions" ng-show="userData.id !== user.id">
                        <a href="#/u/{{ user.username.toLowerCase() }}" class="btn">{{ 'view_profile' | translate }}</a>
                        <button class="btn" ng-show="!user.needs_follow_request && !user.followed" ng-click="sendFollowRequest(user)">{{ 'follow_user' | translate }}</button>
                        <button class="btn" ng-show="user.followed && !user.follow_requested" ng-click="unfollow(user)">{{ 'unfollow_user' | translate }}</button>
                        <button class="btn" ng-show="user.needs_follow_request && !user.followed && !user.follow_requested" ng-click="sendFollowRequest(user, true)">{{ 'send_follow_request' | translate }}</button>
                        <p class="message" ng-show="user.follow_requested">{{ 'follow_request_sent' | translate }}</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li ng-show="canLoadMore">
                    <button class="btn" ng-click="loadMore()">{{ 'load_more' | translate }}</button>
                </li>
            </ul>
        
            <div class="search-results" ng-show="searchResults.length == 0">
                <p>{{ 'search_no_results' | translate }}</p>
            </div>
        </div>
    </div>

    <ul id="settings-menu" class="hidden">
        <li><a href="#/settings">{{ 'settings' | translate }}</a></li>
        <li><a href="/account/logout">{{ 'logout' | translate }}</a></li>
    </ul>
    
    <ul id="notifications-menu" class="hidden" ng-init="loadNotifications()">
        <li ng-repeat="notification in notifications" ng-class="{'active': !notification.read}">
            <notification></notification>
        </li>
        <li ng-show="canLoadMoreNotifications">
            <button class="btn" ng-click="loadNotifications()">{{ 'load_more' | translate }}</button>
        </li>
        <li ng-show="notifications.length == 0" class="align-center">
            {{ 'no_notifications' | translate }}
        </li>
    </ul>
</header>