<header>
    <div id="navbar">
        <div class="logo" ng-click="goHome()">Sunglasses</div>
        <div class="search-box">
            <input type="text" placeholder="{{ 'search' | translate }}" ng-model="query">
        </div>
        <ul class="rightside-menu">
            <li><span class="ion icon ion-home"></span></li>
            <li><span class="ion icon ion-person"></span></li>
            <li><span class="icon ion ion-ios7-bell"></span> <span class="arrow ion ion-arrow-down-b"></span></li>
            <li ng-click="toggleMenu('settings')"><span class="icon ion ion-ios7-gear"></span> <span class="arrow ion ion-arrow-down-b"></span></li>
        </ul>
        <div class="header-overlay" ng-show="searchActive">
            <ul class="search-results" ng-show="searchResults.length > 0">
                <li ng-repeat="user in searchResults" class="user-data">
                    <div class="avatar" ng-hide="userService.getAvatarThumb(user) == ''"></div>
                    <div class="default-avatar" ng-hide="userService.getAvatarThumb(user) != ''">
                        <span class="ion ion-android-contact"></span>
                    </div>
                    <h3>{{ userService.getUsername(user) }}</h3>
                    <div class="search-actions" ng-show="userData.id !== user.id">
                        {{ user.id }} - {{ userData.id }}
                        <a href="#/u/{{ user.username.toLowerCase() }}" class="btn">{{ 'view_profile' | translate }}</a>
                        <button class="btn" ng-show="!user.needs_follow_request && !user.followed">{{ 'follow_user' | translate }}</button>
                        <button class="btn" ng-show="user.followed">{{ 'unfollow_user' | translate }}</button>
                        <button class="btn" ng-show="user.needs_follow_request">{{ 'send_follow_request' | translate }}</button>
                    </div>
                </li>
            </ul>
        
            <div class="search-results" ng-show="searchResults.length == 0">
                <p>{{ 'search_no_results' | translate }}</p>
            </div>
        </div>
    </div>

    <ul id="settings-menu" class="hidden">
        <li><a href="#/settings">{{ 'settings' | translate }}</a></li>
        <li><a href="/account/logout">{{ 'logout' | translate }}</a></li>
    </ul>
</header>