<div id="app">
    <header id="navbar" ng-controller="HeaderController">
        <div ng-include="templateUrl"></div>
    </header>
    <div id="timeline">
        <div class="post-box">
            <ul>
                <li><span id="post-type-status" class="ion ion-document-text active" ng-click="changePostType('status')"></span></li>
                <li><span id="post-type-photo" class="ion ion-camera" ng-click="changePostType('photo')"></span></li>
                <li><span id="post-type-video" class="ion ion-ios7-videocam" ng-click="changePostType('video')"></span></li>
                <li><span id="post-type-link" class="ion ion-link" ng-click="changePostType('link')"></span></li>
                <div id="post-error" class="error hidden"></div>
                <div id="post-success" class="success hidden"></div>
                <input type="url" placeholder="{{ 'enter_video_url' | translate }}" ng-hide="post.type!='video'" ng-model="post.url">
                <input type="url" placeholder="{{ 'enter_link_url' | translate }}" ng-hide="post.type!='link'" ng-model="post.url">
                <div ng-hide="post.type!='photo'">
                    <input type="file" id="photo-upload" class="hidden" accept="image/x-png, image/png, image/gif, image/jpeg">
                    <div class="upload-zone">
                        <button ng-click="handleUpload()">{{ 'upload_file' | translate }} <span class="ion ion-arrow-up-a"></span></button> <span id="filename">...</span>
                    </div>
                    <input type="text" placeholder="{{ 'picture_caption' | translate }}" ng-model="post.caption">
                </div>
                <textarea ng-model="post.text" placeholder="{{ 'what_are_you_up_to' | translate }}"></textarea>
                <button ng-click="submitPost()" ng-hide="post.text=='' && post.type=='status'">{{ 'publish' | translate }}</button>
            </ul>
        </div>
        
        <div ng-hide="!loading" class="loading">
            <span class="ion ion-loading-c"></span> {{ 'loading' | translate }}
        </div>
        
        <div id="timeline-error" class="error hidden"></div>

        <div ng-repeat="post in posts" ng-hide="posts.length == 0">
            <div class="post">
                <div ng-show="postService.isMine(post)" ng-click="deletePost(post)" class="pull-right inline-icon"><span class="ion ion-close-round"></span></div>
                <div class="user-data">
                    <div class="avatar" ng-hide="userService.getAvatarThumb(post.user) == ''"></div>
                    <div class="default-avatar" ng-hide="userService.getAvatarThumb(post.user) != ''">
                        <span class="ion ion-android-contact"></span>
                    </div>
                    <a href="#/u/{{ post.user.username.toLowerCase() }}" class="username">{{ userService.getUsername(post.user) }}</a>
                    <span class="time" ng-click="goTo('/posts/' + post.id)">{{ post.timeFormatted }}</span>
                </div>
                <p class="text">{{ post.text }}</p>
                <div class="post-video" ng-hide="!postService.isKindOf(post, 'video')">
                    <sun-video video-id="{{ post.video_id }}" service="{{ post.video_service }}">
                </div>
                <div class="post-photo" ng-hide="!postService.isKindOf(post, 'photo')" style="background-image: url({{ post.photo_url }})">
                    <div class="photo">
                        <img data-ng-src="{{ post.thumbnail }}" title="{{ post.caption }}" ng-click="photoService.openTheater(post.photo_url, post.caption)">
                        <p class="caption" ng-show="post.caption.length > 0">{{ post.caption }}</p>
                    </div>
                </div>
                <div class="post-link" ng-hide="!postService.isKindOf(post, 'link')">
                    <a ng-href="{{ post.link_url }}" target="_blank" title="{{ postService.getLinkTitle(post) }}">{{ postService.getLinkTitle(post) }} <span class="ion ion-arrow-right-c"></span></a>
                    <p class="url">{{ post.link_url }}</p>
                </div>
                <div class="actions">
                    <ul>
                        <li ng-click="likePost($index)" ng-class="posts[$index].className"><span class="ion ion-thumbsup"></span> <span class="count" ng-bind="posts[$index].likes"></span></li>
                        <li ng-click="commentPost(post)"><span class="ion ion-chatbubbles"></span> <span class="count">{{ post.comments_num }}</span></li>  
                        <li ng-show="postService.isMine(post)" ng-click="changePostPrivacy(post)" class="pull-right"><span class="ion ion-gear-b icon-only"></span></li>
                    </ul>
                </div>
                <div class="comments" ng-hide="!!post.comments.length">
                </div>
            </div>
        </div>

        <div class="no-posts-message" ng-hide="posts.length != 0">
            <span class="emoticon">:-(</span>
            <span class="title">{{ 'no_posts_title' | translate }}</span>
            <span class="message">{{ 'no_posts_message' | translate }}</span>
        </div>
        <photo-theater />
    </div> 
    <confirm-dialog />
</div>