<div class="intro-overlay"></div>
<div id="intro">
    <div class="intro-content">
        <h1>Welcome to Sunglasses</h1>
        <p>Now that you are signed up you can post and get in touch with the people you want.</p>
        <p>You are currently invisible to all users because, by default, the most restrictive privacy settings are applied to all users. Here are a few presets you can set depending on the privacy you want to have.</p>
        <ul>
            <li>
                <p>I want to stay invisible. I'll change my privacy settings later.</p>
                <button ng-click="ok(1)">Continue</button>
            </li>
            
            <li>
                <p>I want to be seen by my friends but I want to be asked before anyone can follow me.</p>
                <button ng-click="ok(2)">Select preset</button>
            </li>
            
            <li>
                <p>I want to be public. Everyone will be able to follow me without asking me for permission.</p>
                <button ng-click="ok(3)">Select preset</button>
            </li>
        </ul>
    </div>
</div>