<div class="intro-overlay"></div>
<div id="intro">
    <div class="intro-content">
        <h1>{{ 'intro_title' | translate }}</h1>
        <p>{{ 'intro_p_1' | translate }}</p>
        <p>{{ 'intro_p_2' | translate }}</p>
        <ul>
            <li>
                <p>{{ 'intro_opt_1_explain' | translate }}</p>
                <button ng-click="ok(1)">{{ 'continue' | translate }}</button>
            </li>
            
            <li>
                <p>{{ 'intro_opt_2_explain' | translate }}</p>
                <button ng-click="ok(2)">{{ 'select_preset' | translate }}</button>
            </li>
            
            <li>
                <p>{{ 'intro_opt_3_explain' | translate }}</p>
                <button ng-click="ok(3)">{{ 'select_preset' | translate }}</button>
            </li>
        </ul>
    </div>
</div>