<div class="post">
    <div ng-show="postService.isMine(post)" ng-click="deletePost()" class="pull-right inline-icon"><span class="ion ion-close-round"></span></div>
    <div class="user-data">
        <div class="avatar" ng-hide="userService.getAvatarThumb(post.user) == ''">
            <img ng-src="{{ userService.getAvatarThumb(post.user) }}" alt="{{ userService.getUsername(post.user) }}">
        </div>
        <div class="default-avatar" ng-hide="userService.getAvatarThumb(post.user) != ''">
            <span class="ion ion-android-contact"></span>
        </div>
        <a href="#/u/{{ post.user.username.toLowerCase() }}" class="username">{{ userService.getUsername(post.user) }}</a>
        <span class="time touchable" ng-click="redirect('/posts/show/' + post.id)" translate="time_format" translate-value-unit="{{ post.timeUnit | translate }}" translate-value-num="{{ post.timeNumber }}"></span>
    </div>
    <p class="text">{{ post.text }}</p>
    <div class="post-video" ng-hide="!postService.isKindOf(post, 'video')">
        <sun-video video-id="{{ post.video_id }}" service="{{ post.video_service }}">
    </div>
    <div class="post-photo" ng-hide="!postService.isKindOf(post, 'photo')" ng-style="{'background-image': post.photo_back}">
        <div class="photo">
            <img data-ng-src="{{ post.thumbnail }}" title="{{ post.caption }}" ng-click="photoService.openTheater(post.photo_url, post.caption)">
            <p class="caption" ng-show="post.caption.length > 0">{{ post.caption }}</p>
        </div>
    </div>
    <div class="post-link" ng-hide="!postService.isKindOf(post, 'link')">
        <a ng-href="{{ post.link_url }}" target="_blank" title="{{ postService.getLinkTitle(post) }}">{{ postService.getLinkTitle(post) }} <span class="ion ion-arrow-right-c"></span></a>
        <p class="url">{{ post.link_url }}</p>
    </div>
    <div class="actions">
        <ul>
            <li ng-click="likePost()" ng-class="{'liked animated bounceIn': post.liked}"><span class="ion ion-thumbsup"></span> <span class="count" ng-bind="post.likes"></span></li>
            <li ng-click="commentPost()"><span class="ion ion-chatbubbles"></span> <span class="count">{{ post.comments_num }}</span></li>  
            <li ng-show="postService.isMine(post)" ng-click="togglePrivacy()" class="pull-right position-relative">
                <span class="ion ion-gear-b icon-only"></span>
                <ul class="dropdown-box" ng-hide="!privacyOpened">
                    <li ng-click="changePostPrivacy(1)" ng-class="{'selected': privacySelected == 1}">{{ 'privacy_type_public' | translate }}</li>
                    <li ng-click="changePostPrivacy(2)" ng-class="{'selected': privacySelected == 2}">{{ 'privacy_type_following_only' | translate }}</li>
                    <li ng-click="changePostPrivacy(3)" ng-class="{'selected': privacySelected == 3}">{{ 'privacy_type_followers_only' | translate }}</li>
                    <li ng-click="changePostPrivacy(4)" ng-class="{'selected': privacySelected == 4}">{{ 'privacy_type_none' | translate }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="comments" ng-hide="post.comments.length <= 0">
        <comment ng-repeat="comment in post.comments | orderBy:'created'"></comment>
        <button class="btn btn-slim" ng-click="loadMoreComments()" ng-show="post.comments_num > post.comments.length - commentsDirty">{{ 'load_more' | translate }}</button>
    </div>
    <comment-form></comment-form>
</div>