<div id="app">
    <header-bar></header-bar>
    <div class="profile-box" ng-show="userProfile.username">
        <div class="avatar-box">
            <div class="avatar" ng-hide="userService.getAvatarThumb(userProfile) == ''">
                <img ng-src="{{ userService.getAvatarThumb(userProfile) }}" alt="{{ userService.getUsername(userProfile) }}">
            </div>
            <div class="default-avatar" ng-hide="userService.getAvatarThumb(userProfile) != ''">
                <span class="ion ion-android-contact"></span>
            </div>
        </div>
        
        <div class="user-data">
            <h2>{{ userService.getUsername(userProfile) }}</h2>
            <h3>{{ userProfile.username }}</h3>
            <p class="about" ng-show="userProfile.info.about">{{ userProfile.info.about }}</p>
        </div>
        
        <div class="actions-box clear" ng-show="userProfile.id != userData.id">
            <button class="btn small-btn" ng-show="!userProfile.needs_follow_request && !userProfile.followed" ng-click="userService.sendFollowRequest(userProfile)">{{ 'follow_user' | translate }}</button>
            <button class="btn small-btn" ng-show="userProfile.followed && !userProfile.follow_requested" ng-click="userService.unfollow(userProfile)">{{ 'unfollow_user' | translate }}</button>
            <button class="btn small-btn" ng-show="userProfile.needs_follow_request && !userProfile.followed && !userProfile.follow_requested" ng-click="userService.sendFollowRequest(userProfile, true)">{{ 'send_follow_request' | translate }}</button>
            <p class="message" ng-show="userProfile.follow_requested">{{ 'follow_request_sent' | translate }}</p>
        </div>
        
        <div class="info-box clear">
            <button ng-click="toggleInfo()">{{ (infoVisible)?'hide_info':'show_info' | translate }} <span class="ion "></span></button>
            
            <div class="info-content" ng-show="infoVisible">
                <div ng-repeat="field in ['gender', 'status']" class="info-field inline-field" ng-show="userProfile.info[field]">
                    <h4>{{ 'info_' + field | translate }}</h4>
                    <span>{{ 'user_' + field + '_' + userProfile.info[field] | translate }}</span>
                </div>
                <div ng-repeat="field in ['work', 'education', 'hobbies', 'books', 'movies', 'tv']" class="info-field" ng-show="userProfile.info[field]">
                    <h4>{{ 'info_' + field | translate }}</h4>
                    <p>{{ userProfile.info[field] }}</p>
                </div>
            </div>
        </div>
    </div>
    <timeline></timeline>
    <footer-bar></footer-bar>
</div>