<div id="app">
    <header ng-controller="HeaderController">
        <div ng-include="templateUrl"></div>
    </header>
    
    <div class="wrap settings">
        <aside>
            <ul>
                <li ng-class="{active: activeSection == 'account_details'}" ng-click="setActiveSection('account_details')">{{ 'account_details' | translate }}</li>
                <li ng-class="{active: activeSection == 'account_settings'}" ng-click="setActiveSection('account_settings')">{{ 'account_settings' | translate }}</li>
                <li ng-class="{active: activeSection == 'account_info'}" ng-click="setActiveSection('account_info')">{{ 'account_info' | translate }}</li>
                <li ng-class="{active: activeSection == 'account_privacy'}" ng-click="setActiveSection('account_privacy')">{{ 'account_privacy' | translate }}</li>
                <li ng-class="{active: activeSection == 'account_recovery'}" ng-click="setActiveSection('account_recovery')">{{ 'account_recovery' | translate }}</li>
            </ul>
        </aside>
    
        <section>
            <h1>{{ activeSection | translate }}</h1>
            <article ng-show="activeSection == 'account_details'">
            </article>
        
            <article ng-show="activeSection == 'account_settings'">
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('invisible')">
                      <input type="checkbox" ng-model="settings.invisible">
                      <label>{{ 'invisible' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('can_receive_requests')">
                      <input type="checkbox" ng-model="settings.can_receive_requests">
                      <label>{{ 'can_receive_requests' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('follow_approval_required')">
                      <input type="checkbox" ng-model="settings.follow_approval_required">
                      <label>{{ 'follow_approval_required' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('display_avatar_before_approval')">
                      <input type="checkbox" ng-model="settings.display_avatar_before_approval">
                      <label>{{ 'display_avatar_before_approval' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('notify_new_comment')">
                      <input type="checkbox" ng-model="settings.notify_new_comment">
                      <label>{{ 'notify_new_comment' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('notify_new_comment_others')">
                      <input type="checkbox" ng-model="settings.notify_new_comment_others">
                      <label>{{ 'notify_new_comment_others' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('notify_posts_in_my_profile')">
                      <input type="checkbox" ng-model="settings.notify_posts_in_my_profile">
                      <label>{{ 'notify_posts_in_my_profile' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('notify_likes')">
                      <input type="checkbox" ng-model="settings.notify_likes">
                      <label>{{ 'notify_likes' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('allow_posts_in_my_profile')">
                      <input type="checkbox" ng-model="settings.allow_posts_in_my_profile">
                      <label>{{ 'allow_posts_in_my_profile' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('allow_comments_in_posts')">
                      <input type="checkbox" ng-model="settings.allow_comments_in_posts">
                      <label>{{ 'allow_comments_in_posts' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('display_info_followers_only')">
                      <input type="checkbox" ng-model="settings.display_info_followers_only">
                      <label>{{ 'display_info_followers_only' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox" ng-click="toggle('override_default_privacy')">
                      <input type="checkbox" ng-model="settings.override_default_privacy">
                      <label>{{ 'override_default_privacy' | translate }}</label>
                    </div>
                </div>
                <div class="field">
                    <label class="expanded-label">{{ 'default_status_privacy' | translate }}</label>
                    <div class="ui dropdown selection" id="selector_status_privacy">
                        <input type="hidden">
                                <div class="default text">{{ 'select_privacy_type' | translate }}</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="1">{{ 'privacy_type_public' | translate }}</div>
                                    <div class="item" data-value="2">{{ 'privacy_type_followers_only' | translate }}</div>
                                    <div class="item" data-value="3">{{ 'privacy_type_following_only' | translate }}</div>
                                    <div class="item" data-value="4">{{ 'privacy_type_none' | translate }}</div>
                                    <!--<div class="item" data-value="5">{{ 'privacy_type_all_but' | translate }}</div>
                                    <div class="item" data-value="6">{{ 'privacy_type_followers_but' | translate }}</div>
                                    <div class="item" data-value="7">{{ 'privacy_type_following_but' | translate }}</div>
                                    <div class="item" data-value="8">{{ 'privacy_type_none_but' | translate }}</div>-->
                                </div>
                    </div>
                </div>
                <div class="field" ng-show="!settings.override_default_privacy">
                    <label class="expanded-label">{{ 'default_photo_privacy' | translate }}</label>
                    <div class="ui dropdown selection" id="selector_photo_privacy">
                        <input type="hidden">
                                <div class="default text">{{ 'select_privacy_type' | translate }}</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="1">{{ 'privacy_type_public' | translate }}</div>
                                    <div class="item" data-value="2">{{ 'privacy_type_followers_only' | translate }}</div>
                                    <div class="item" data-value="3">{{ 'privacy_type_following_only' | translate }}</div>
                                    <div class="item" data-value="4">{{ 'privacy_type_none' | translate }}</div>
                                    <!--<div class="item" data-value="5">{{ 'privacy_type_all_but' | translate }}</div>
                                    <div class="item" data-value="6">{{ 'privacy_type_followers_but' | translate }}</div>
                                    <div class="item" data-value="7">{{ 'privacy_type_following_but' | translate }}</div>
                                    <div class="item" data-value="8">{{ 'privacy_type_none_but' | translate }}</div>-->
                                </div>
                    </div>
                </div>
                <div class="field" ng-show="!settings.override_default_privacy">
                    <label class="expanded-label">{{ 'default_video_privacy' | translate }}</label>
                    <div class="ui dropdown selection" id="selector_video_privacy">
                        <input type="hidden">
                                <div class="default text">{{ 'select_privacy_type' | translate }}</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="1">{{ 'privacy_type_public' | translate }}</div>
                                    <div class="item" data-value="2">{{ 'privacy_type_followers_only' | translate }}</div>
                                    <div class="item" data-value="3">{{ 'privacy_type_following_only' | translate }}</div>
                                    <div class="item" data-value="4">{{ 'privacy_type_none' | translate }}</div>
                                    <!--<div class="item" data-value="5">{{ 'privacy_type_all_but' | translate }}</div>
                                    <div class="item" data-value="6">{{ 'privacy_type_followers_but' | translate }}</div>
                                    <div class="item" data-value="7">{{ 'privacy_type_following_but' | translate }}</div>
                                    <div class="item" data-value="8">{{ 'privacy_type_none_but' | translate }}</div>-->
                                </div>
                    </div>
                </div>
                <div class="field" ng-show="!settings.override_default_privacy">
                    <label class="expanded-label">{{ 'default_link_privacy' | translate }}</label>
                    <div class="ui dropdown selection" id="selector_link_privacy">
                        <input type="hidden">
                                <div class="text">{{ 'select_privacy_type' | translate }}</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="1">{{ 'privacy_type_public' | translate }}</div>
                                    <div class="item" data-value="2">{{ 'privacy_type_followers_only' | translate }}</div>
                                    <div class="item" data-value="3">{{ 'privacy_type_following_only' | translate }}</div>
                                    <div class="item" data-value="4">{{ 'privacy_type_none' | translate }}</div>
                                    <!--<div class="item" data-value="5">{{ 'privacy_type_all_but' | translate }}</div>
                                    <div class="item" data-value="6">{{ 'privacy_type_followers_but' | translate }}</div>
                                    <div class="item" data-value="7">{{ 'privacy_type_following_but' | translate }}</div>
                                    <div class="item" data-value="8">{{ 'privacy_type_none_but' | translate }}</div>-->
                                </div>
                    </div>
                </div>
                
                <button ng-click="updateSettings()">{{ 'update_settings' | translate }}</button>
            </article>
        
            <article ng-show="activeSection == 'account_info'">
            </article>
        
            <article ng-show="activeSection == 'account_privacy'">
            </article>
        
            <article ng-show="activeSection == 'account_recovery'">
            </article>
        </section>
        <div class="clear"></div>
    </div>
</div>